$gutter: 1rem;
$base-width: calc(100vw - #{$gutter});
$color-blue: #07a;
$color-green: #59a200;
$color-white: #f9f8f7;
$color-dark-lighter: #34383a;
$color-dark: #24282a;
$color-black: #14181a;
$color-neutral: #c4c4c4;
$color-red: #d44;
$color-dark-blue: #024;

$color-bg: $color-dark;
$color-fg: $color-green;
$color-brand: $color-green;
$color-event: $color-white;
$color-text: $color-neutral;

$color-input: $color-white;
$color-input-bg: $color-black;
$color-input-border: rgba($color-input, 30%);
$color-nav: rgba($color-black, 95%);

$handle-size: 4rem;
$menu-width: 10rem;
$filters-mobile-height: 3rem;
$menu-mobile-height: calc(100vh - $filters-mobile-height * 2);

$bp-s: 768px;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin until($breakpoint: $bp-s) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

$base-font-family: "Brando Sans, sans-serif";
@font-face {
  font-family: $base-font-family;
  src: url("./fonts/BrandoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@keyframes breathe {
  from {
    transform: translateY(0.2rem);
  }
  to {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  font-family: $base-font-family;
}
html {
  font-size: 16px;
}
body {
  background: $color-bg url(./img/bg-noise.png);
  color: $color-fg;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
}
button {
  cursor: pointer;
}
.wrapper {
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    background: $color-blue;
    height: 100%;
    max-width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
  }
  &--plug {
    background: $color-dark-blue;
  }
}
.drawing {
  @include center;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
  // cursor: none !important;
}
.no-bg {
  background: repeating-conic-gradient(
      $color-neutral 0% 25%,
      lighten($color-neutral, 2%) 0% 50%
    )
    50% / 5rem 5rem;
}
.menu {
  position: absolute;
  top: 0;
  width: $menu-width;
  height: 100vh;
  padding: 2rem 1rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $color-nav url(./img/bg-noise.png);
  color: $color-white;
  transform-origin: 0 0;
  margin: 0 0 0.5rem;
  @include until {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    width: 100vw;
    max-height: $menu-mobile-height;
    top: calc(100% - #{$menu-mobile-height});
    flex-wrap: wrap;
  }
  &--collapsed {
    display: none;
    // @media (min-width: $bp-s) {
    //   height: 3rem;
    //   overflow: hidden;
    //   justify-content: flex-start;
    //   border: none;
    //   background: none;
    // }
    // @include until {
    //   top: 100%;
    // }
  }
  &--controls {
    left: 0;
  }
  &--filters {
    right: 0;
    position: absolute;
    flex-flow: wrap;
    &.menu--collapsed {
      display: none;
    }
    @include until {
      overflow-y: auto;
      width: auto;
      height: $filters-mobile-height;
      top: calc(100% - #{$menu-mobile-height} - #{$filters-mobile-height});
    }
  }
  &__toggle {
    height: 0.8rem;
    width: 2rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background: linear-gradient(
      $color-input 0%,
      $color-input 20%,
      transparent 20%,
      transparent 40%,
      $color-input 40%,
      $color-input 60%,
      transparent 60%,
      transparent 80%,
      $color-input 80%,
      $color-input 100%
    );
    margin-bottom: 0.5rem;
    @include until {
      width: 1.5rem;
      position: absolute;
    }
  }
}
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include until {
    margin: 0.2rem;
    flex-basis: 30%;
  }
  &--checkbox {
    flex-direction: row;
    width: auto;
    align-self: flex-start;
  }
  &--color {
    width: 1.6rem;
  }
  &--kwastje {
    @include until {
      max-width: $base-width;
      flex: 0 0 $base-width;
    }
  }
  &--bgColor {
    margin: -1.5rem -1rem 0.5rem 1rem;
    position: relative;
    z-index: -1;
    @include until {
      position: relative;
      left: -1rem;
    }
  }
  &--fgColor {
    @include until {
      position: relative;
      left: 1rem;
    }
  }
  &--isInfluenced {
    margin: -1rem 0 1rem;
    @include until {
      margin: 0;
    }
  }
  &__input {
    width: 100%;
    color: $color-input;
    border: 1px solid $color-input-border;
    background: $color-input-bg;
    display: block;
    border-radius: 0;
    padding: 0.3rem 0.4rem;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
    &[type="color"] {
      padding: 0;
      background: $color-input;
      border: none;
      position: relative;
      left: 2rem;
      top: -3rem;
      margin-top: -3rem;
      z-index: 1;
    }
    &[type="checkbox"] {
      padding: 0;
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
    }
    &[type="range"] {
      padding: 0;
      appearance: none;
      height: 0.1rem;
      margin: 0.5rem 0 0.1rem;
    }
    .menu--collapsed & {
      display: none;
    }
  }
  &__label {
    color: $color-text;
    font-size: 0.9rem;
    margin: 0.3rem auto;
    width: 100%;
    user-select: none;
    &--name {
      color: $color-white;
    }
    .menu--collapsed & {
      display: none;
    }
    [type="range"] + & {
      justify-content: space-between;
    }
    [type="checkbox"] + & {
      margin: 0;
    }
    [type="color"] + & {
      display: none;
    }
    &[for="kwastje"] {
      display: none;
    }
  }
  &--buttons {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Twee kolommen van gelijke breedte */
    gap: 0.5rem;
  }
  &__button {
    color: $color-white;
    border: none;
    border-radius: 0.9rem;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    height: 1.8rem;
    background: $color-dark-lighter;
    background-size: 200%;
    transition: background-size 0.2s ease-in;
    &:hover {
      background-size: 50%;
    }
    &--save:hover {
      background-color: $color-green;
    }
    &--clear:hover,
    &--close:hover {
      background-color: $color-red;
    }
    &--close {
      width: auto;
      padding: 0 1rem;
      margin: 0 auto;
      display: block;
    }
  }
  &.aitje {
    margin: 0.5rem -1rem 0;
    width: calc(100% + 2rem);
    padding: 0.5rem 1rem 0;
    background: linear-gradient(to bottom, $color-green 0%, transparent 100%);
    @include until {
      flex: 100%;
      flex-flow: wrap;
      justify-content: flex-start;
    }
    .control__input {
      margin-top: 0.4rem;
      @include until {
        flex-basis: 30%;
        margin-right: 0.5rem;
      }
    }
  }
}
.loader-message.loading {
  animation: breathe 0.5s ease-in forwards infinite alternate;
  font-size: 0.8rem;
  position: absolute;
  bottom: 1rem;
  .loader {
    animation: breathe 0.6s ease-in forwards infinite alternate;
    display: inline-block;
  }
}
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: $color-white;
  font-size: 1rem;
  &__close {
    width: auto;
  }
}
.promptje {
  border: 1px solid $color-green;
  background: $color-dark;
  color: $color-white;
  margin: 0 0 0.4rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border-bottom: none;
  width: 100%;
  &:focus {
    border-color: $color-white;
  }
  &::placeholder {
    color: $color-fg;
  }
  &.mini {
    width: 40%;
  }
}
.aitjes-form {
  display: none;
}
.navaitje {
  width: 35%;
  margin: 5% 3%;
  display: flex;
  height: auto;
  @include until {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
  }
  &.selected {
    * {
      fill: $color-green;
      stroke: $color-green;
      stroke-width: 0.5rem;
    }
  }
  svg {
    width: 100%;
    height: auto;
    @include until {
      height: 2rem;
    }
  }
  path {
    fill: $color-neutral;
  }
}
.add-aitje {
  font-size: 4rem;
  line-height: 3rem;
  color: $color-green;
  cursor: pointer;
  text-align: center;
  margin: 0;
  input {
    display: none;
  }
}
.katje {
  transform-origin: center;
  transition: transform 20ms ease-in;
}
.reverser {
  transform: scaleX(-1);
}
