@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");

$gutter: 1rem;
$base-width: calc(100vw - #{$gutter});
$color-blue: #07a;
$color-green: #59a200;
$color-white: #f4f8fa;
$color-dark-lighter: #34383a;
$color-dark: #24282a;
$color-black: #14181a;
$color-neutral: #a4a8aa;
$color-red: #d44;
$color-dark-blue: #024;

$color-bg: $color-dark;
$color-fg: $color-green;
$color-brand: $color-green;
$color-event: $color-white;
$color-text: $color-neutral;

$color-input: $color-neutral;
$color-input-bg: $color-black;
$color-input-border: rgba($color-input, 30%);
$color-nav: rgba($color-black, 90%);

$base-font-size: 0.8rem;
$base-font-family: "Figtree", sans-serif;
$handle-size: 4rem;
$menu-width: 10rem;
$filters-mobile-height: 3rem;
$menu-mobile-height: calc(100vh - $filters-mobile-height * 2);
$button-height: 1.8rem;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile-landscape($breakpoint: 844px) {
  @media screen and (max-width: $breakpoint) and (orientation: landscape) {
    @content;
  }
}

@keyframes breathe {
  from {
    transform: translateY(0.2rem);
  }
  to {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  font-family: $base-font-family;
}
html {
  font-size: 16px;
}
body {
  background: $color-bg url(./img/bg-noise.png);
  color: $color-fg;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
}
input,
button {
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:hover,
  &:focus {
    & + label {
      color: $color-white;
    }
  }
}
input {
  &:hover,
  &:focus {
    background: $color-white;
  }
}
button {
  &:hover,
  &:focus {
    filter: brightness(200%);
  }
}

.wrapper {
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    background: $color-blue;
    height: 100%;
    max-width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
  }
  &--plug {
    background: $color-dark-blue;
  }
}
.drawing {
  @include center;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}
.bg {
  transition: fill 0.5s ease-in;
}
.no-bg {
  background: repeating-conic-gradient(
      $color-neutral 0% 25%,
      lighten($color-neutral, 2%) 0% 50%
    )
    50% / 5rem 5rem;
}
.menu {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 100vh;
  padding: 1rem;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 0.8rem;
  background: $color-nav url(./img/bg-noise.png);
  color: $color-white;
  transform-origin: 0 0;
  margin: 0 0 0.5rem;
  @include mobile-landscape {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  &--collapsed {
    display: none;
  }
  &--controls {
    left: 0;
    padding-top: 3rem;
    @include mobile-landscape {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      width: 70%;
    }
  }
  &--filters {
    right: 0;
    position: absolute;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: max-content;
    @include mobile-landscape {
      width: 30%;
    }
    > fieldset {
      grid-column: span 4;
    }
    &.menu--collapsed {
      display: none;
    }
  }
  &__toggle {
    height: 0.8rem;
    width: 2rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background: linear-gradient(
      $color-input 0%,
      $color-input 20%,
      transparent 20%,
      transparent 40%,
      $color-input 40%,
      $color-input 60%,
      transparent 60%,
      transparent 80%,
      $color-input 80%,
      $color-input 100%
    );
    margin-bottom: 0.5rem;
  }
}
.control {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  &--range {
    grid-column: 1 / span 4;
    @include mobile-landscape {
      grid-column: span 2;
    }
  }
  &--checkbox {
    flex-direction: row;
    align-self: flex-start;
    grid-column: span 2;
  }
  &--color {
    position: relative;
  }
  &--fgColor {
    bottom: 0.5rem;
    z-index: 2;
  }
  &--bgColor {
    right: 1.5rem;
  }
  &__input {
    width: 100%;
    color: $color-input;
    border: 1px solid $color-input-border;
    background: $color-input-bg;
    display: block;
    border-radius: 0;
    padding: 0.3rem 0.4rem;
    font-size: $base-font-size;
    position: relative;
    z-index: 1;
    &[type="color"] {
      padding: 0;
      background: none;
      border: none;
    }
    &[type="checkbox"] {
      padding: 0;
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
    }
    &[type="range"] {
      padding: 0;
      appearance: none;
      height: 0.1rem;
      margin: 0.5rem 0 0.1rem;
    }
    .menu--collapsed & {
      display: none;
    }
  }
  &__label {
    color: $color-text;
    font-size: $base-font-size;
    width: 100%;
    user-select: none;
    text-transform: capitalize;
    &--name {
      color: $color-white;
      font-size: $base-font-size;
      margin-top: 0.4rem;
    }
    .menu--collapsed & {
      display: none;
    }
    [type="range"] + & {
      display: flex;
      justify-content: space-between;
    }
    [type="checkbox"] + & {
      margin: 0;
    }
    [type="color"] + & {
      display: none;
      color: $color-white;
    }
  }
  &--buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
  &__button {
    color: $color-white;
    border: none;
    border-radius: $button-height / 2;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    height: $button-height;
    background: $color-dark-lighter;
    background-size: 200%;
    grid-column: span 2;
    &--close {
      width: auto;
      padding: 0 1rem;
      margin: 0 auto;
      display: block;
    }
    &--full {
      grid-column: span 4;
    }
  }
  &.aitje {
    margin: 0.5rem -1rem 0;
    width: calc(100% + 2rem);
    padding: 0.5rem 1rem 0;
    background: linear-gradient(to bottom, $color-green 0%, transparent 100%);
    .control__input {
      margin-top: 0.4rem;
    }
  }
}
.loader-message.loading {
  animation: breathe 0.5s ease-in forwards infinite alternate;
  font-size: 0.8rem;
  position: absolute;
  bottom: 1rem;
  .loader {
    animation: breathe 0.6s ease-in forwards infinite alternate;
    display: inline-block;
  }
}
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: $color-white;
  font-size: 1rem;
  &__close {
    width: auto;
  }
}
.promptje {
  border: 1px solid $color-green;
  background: $color-dark;
  color: $color-white;
  margin: 0 0 0.4rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border-bottom: none;
  width: 100%;
  &:focus {
    border-color: $color-white;
  }
  &::placeholder {
    color: $color-fg;
  }
  &.mini {
    width: 40%;
  }
}
.aitjes-form {
  display: none;
}
.navaitje {
  // width: 33.333%;
  margin: 5% 3%;
  display: flex;
  height: auto;
  &.selected {
    * {
      fill: $color-green;
      stroke: $color-green;
      stroke-width: 0.5rem;
    }
  }
  svg {
    width: 100%;
    height: auto;
    > * {
      fill: $color-neutral;
    }
  }
}
.add-aitje {
  grid-column: span 4;
  line-height: $button-height;
  cursor: pointer;
  text-align: center;
  margin: 0;
  input {
    display: none;
  }
}
.katje {
  transform-origin: center;
  transition: transform 20ms ease-in;
}
.reverser {
  transform: scaleX(-1);
}
