@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");
@font-face {
  font-family: Gellix;
  src: local("Gellix Regular"), local("Gellix-Regular"),
    url("./fonts/Gellix-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  // Cogni imports
  --black: #000;
  --off-white: #f8f8f8;
  --white: #fff;
  --dark-grey: #53565a;
  --dark-grey-rgb: 83, 86, 90;
  --medium-grey: #97999b;
  --light-grey: #d0d0ce;
  --plum: #6c70ee;
  --med-plum: #7373d8;
  --plum-80: #8b8ee4;
  --plum-40: #c8c9f1;
  --plum-20: #e7e8f5;
  --color-brand: #000048;
  --plum-300: #2e308e;
  --plum-300-rgb: 46, 48, 142;
  --plum-200: #7373d8;
  --plum-200-rgb: 115, 115, 216;
  --plum-100: #85a0f9;
  --plum-100-rgb: 133, 160, 249;
  --blue-700: #2b318a;
  --blue-600: #235b9d;
  --blue-500: #2b6cb2;
  --blue-400: #2f78c4;
  --blue-300: #6aa2dc;
  --blue-300-rgb: 106, 162, 220;
  --blue-200: #92bbe6;
  --blue-100: #e4eef9;
  --teal-400: #06c7cc;
  --teal-300: #26efe9;
  --teal-200: #76f8eb;
  --teal-100: #97f5f7;
  --red: #b81f2d;
  --yellow: #e9c71d;
  --green: #2db81f;
  --c-text-heading: var(--dark-grey);
  --text: var(--dark-grey);
  --text-invert: var(--white);
  --line: var(--dark-grey);
  --font: "Gellix", system-ui, -apple-system, "Segoe UI", roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif;
}

$gutter: 1rem;
$base-width: calc(100vw - #{$gutter});
$color-blue: #07a;
$color-green: #59a200;
$color-white: #f4f8fa;
$color-dark-lighter: #34383a;
$color-dark: #24282a;
$color-black: #14181a;
$color-neutral: #a4a8aa;
$color-red: #d44;
$color-dark-blue: #024;

$color-bg: $color-dark;
$color-fg: $color-white;
$color-brand: $color-green;
$color-event: $color-white;
$color-text: $color-neutral;

$color-input: $color-neutral;
$color-input-bg: $color-black;
$color-input-border: rgba($color-input, 30%);
$color-nav: rgba($color-black, 90%);

$base-font-size: 0.8rem;
$base-font-family: "Figtree", sans-serif;
$handle-size: 4rem;
$menu-width: 10rem;
$filters-mobile-height: 3rem;
$menu-mobile-height: calc(100vh - $filters-mobile-height * 2);
$button-height: 2rem;
$button-height-big: 3rem;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin until($breakpoint: 768px) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin mobile-landscape($breakpoint: 844px) {
  @media screen and (max-width: $breakpoint) and (orientation: landscape) {
    @content;
  }
}

@keyframes breathe {
  from {
    transform: translateY(0.2rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  font-family: $base-font-family;
}
html {
  font-size: 16px;
}
body {
  background: $color-bg url(./img/bg-noise.png);
  color: $color-fg;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
}
input,
button {
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:hover,
  &:focus {
    & + label {
      color: $color-white;
    }
  }
}
input,
button,
.control__button {
  &:hover,
  &:focus {
    filter: brightness(200%);
  }
}

.wrapper {
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    background: $color-blue;
    height: 100%;
    max-width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
  }
  &--plug {
    background: $color-dark-blue;
  }
}
.drawing {
  @include center;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}
.bg {
  transition: fill 0.5s ease-in;
}
.no-bg {
  background: repeating-conic-gradient(
      $color-neutral 0% 25%,
      lighten($color-neutral, 2%) 0% 50%
    )
    50% / 5rem 5rem;
}
.menu {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 100vh;
  padding: 1rem;
  // z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 0.8rem;
  background: $color-nav url(./img/bg-noise.png);
  color: $color-white;
  transform-origin: 0 0;
  margin: 0 0 0.5rem;
  @include mobile-landscape {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  &--collapsed {
    display: none;
  }
  &--controls {
    left: 0;
    padding-top: 3rem;
    @include mobile-landscape {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      width: 70%;
    }
  }
  &--filters {
    right: 0;
    position: absolute;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: auto auto auto 1fr;
    @include mobile-landscape {
      width: 30%;
    }
    > fieldset {
      grid-column: span 4;
    }
    &.menu--collapsed {
      display: none;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .tasjes {
    grid-column: span 4;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: inherit;
    grid-gap: inherit;
  }
  &__toggle {
    height: 0.8rem;
    width: 1.2rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    background: linear-gradient(
      $color-input 0%,
      $color-input 20%,
      transparent 20%,
      transparent 40%,
      $color-input 40%,
      $color-input 60%,
      transparent 60%,
      transparent 80%,
      $color-input 80%,
      $color-input 100%
    );
    margin-bottom: 0.5rem;
    &--collapsed {
      filter: brightness(2);
    }
  }
}
.control {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  &--range {
    grid-column: 1 / span 4;
    @include mobile-landscape {
      grid-column: span 2;
    }
  }
  &--checkbox {
    flex-direction: row;
    align-self: flex-start;
    grid-column: span 2;
  }
  &--color {
    position: relative;
  }
  &--fgColor {
    bottom: 0.5rem;
    z-index: 1;
  }
  &--bgColor {
    right: 1.5rem;
  }
  &__input {
    width: 100%;
    color: $color-input;
    border: 1px solid $color-input-border;
    background: $color-input-bg;
    display: block;
    border-radius: 0;
    padding: 0.3rem 0.4rem;
    font-size: $base-font-size;
    position: relative;
    // z-index: 1;
    &[type="color"] {
      padding: 0;
      background: none;
      border: none;
    }
    &[type="checkbox"] {
      padding: 0;
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
    }
    &[type="range"] {
      padding: 0;
      appearance: none;
      height: 0.1rem;
      margin: 0.5rem 0 0.1rem;
    }
    .menu--collapsed & {
      display: none;
    }
  }
  &__label {
    color: $color-text;
    font-size: $base-font-size;
    width: 100%;
    user-select: none;
    text-transform: capitalize;
    &--name {
      color: $color-white;
      font-size: $base-font-size;
      margin-top: 0.4rem;
    }
    .menu--collapsed & {
      display: none;
    }
    [type="range"] + & {
      display: flex;
      justify-content: space-between;
    }
    [type="checkbox"] + & {
      margin: 0;
    }
    [type="color"] + & {
      display: none;
      color: $color-white;
    }
  }
  &--buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
  &__button {
    color: $color-white;
    border: none;
    border-radius: $button-height / 2;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    height: $button-height;
    background: $color-dark-lighter;
    background-size: 200%;
    grid-column: span 2;
    &--close {
      width: auto;
      padding: 0 1rem;
      margin: 0 auto;
      display: block;
    }
    &--full {
      grid-column: span 4;
    }
  }
  &.tasje {
    margin: 0.5rem -1rem 0;
    width: calc(100% + 2rem);
    padding: 0.5rem 1rem 0;
    background: linear-gradient(to bottom, $color-green 0%, transparent 100%);
    .control__input {
      margin-top: 0.4rem;
    }
  }
}
.loader-message.loading {
  animation: breathe 0.5s ease-in forwards infinite alternate;
  font-size: 0.8rem;
  position: absolute;
  bottom: 1rem;
  .loader {
    animation: breathe 0.6s ease-in forwards infinite alternate;
    display: inline-block;
  }
}
.promptje {
  border: 1px solid $color-green;
  background: $color-dark;
  color: $color-white;
  margin: 0 0 0.4rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border-bottom: none;
  width: 100%;
  &:focus {
    border-color: $color-white;
  }
  &::placeholder {
    color: $color-fg;
  }
  &.mini {
    width: 40%;
  }
}
.tasjes-form {
  display: none;
}
.navtasje {
  // width: 33.333%;
  margin: 5% 3%;
  display: flex;
  height: auto;
  &.selected {
    * {
      fill: $color-green;
      stroke: $color-green;
      stroke-width: 0.5rem;
    }
  }
  svg {
    width: 100%;
    height: auto;
    > * {
      fill: $color-neutral;
    }
  }
}
.add-tasje {
  position: absolute;
  left: -10000px;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-brand);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 20%;
  @include until {
    padding: 10%;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 760px;
    strong {
      font-size: 1.4rem;
    }
  }
  &__button {
    background: var(--blue-400);
    color: $color-white;
    height: $button-height-big;
    border-radius: $button-height-big / 2;
    padding: 0 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
    font-family: Gellix, sans-serif;
    font-weight: bold;
    text-transform: none;
    z-index: 1;
    margin: 2rem auto;
    align-self: center;
    @include until {
      font-size: 1.1rem;
      height: $button-height;
    }
    &:hover {
      filter: none;
      background: var(--plum);
    }
  }
}

.add-tasje + label, .control__button--roostertje {
  grid-column: span 4;
  line-height: $button-height;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
.katje {
  transform-origin: center;
  transition: transform 20ms ease-in;
}
.reverser {
  transform: scaleX(-1);
}
.future {
  // animation: fade-in 0.2s ease-in;
  font-weight: bold;
}
@keyframes subtitle {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.subtitle {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  max-width: 50rem;
  padding: 0.5rem 1rem;
  color: $color-white;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.5s ease-in;
  .cogni-ddw & {
    font-family: Gellix, sans-serif;
    letter-spacing: 2px;
  }
}

.eyes {
  transition: fill 0.5s ease-in;
}
